@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.trendingheader {
  text-align: center;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
}
.postList {
  padding:2% 16% 0 16%;
  justify-content: center;
  align-items: center;
 
}

.textPost {
  margin-left: 20px;
}

.post {
  display: flex;
  flex-direction: row;
}

.postTitle {
  color:#35495e;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.datenTime {
  text-decoration: none;
  font-size: 12px;
  margin-top: 4px;
  color: #464646;
}

.postDescription {
  text-decoration: none;
  font-size: 16px;
  margin-top: 8px;
  color: #464646;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* or 'nowrap' if you want to prevent wrapping */
}

.thumbnail {
  max-width: 10%; /* Make the image fill its container */
  height: 10%;
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
 
  object-fit: cover;
}

.postCategory {
  justify-content: space-between;

}

.postCategory div {
  margin-right: 6px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}



.search-input {
  padding: 10px;
  font-size: 16px;
  width: 40%;
  border: none;
  border: 2px solid #3498db;
  outline: none;
  transition: border-color 0.3s ease;
  border-radius: 10px;
}

.search-input:focus {
  border-color: #e74c3c;
}


@media only screen and (max-width: 768px) {
  .search-input {
    width: 90%;
  }
  .postList {
    padding:2% 6% 0 6%;
   
   
  }
  .thumbnail {
    max-width: 35%; /* Make the image fill its container */
   
  }
  .postTitle {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
   
  }
}


.uploadbutton {
display: flex;
margin: auto;
justify-content: space-between;
align-items: center;
padding: 0 16%;

}

.postButton {
  margin-top: 6px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}


 
 
 
